---
import { getCollection } from 'astro:content';
import HomeLayout from '../layouts/HomeLayout.astro';
import WebsiteList from '../components/WebsiteList.astro';
import { shuffle } from '../utils/array';

const allWebsites = await getCollection('websites', ({data}) => {
	return data.draft !== true;
});

const sortedWebsites = allWebsites.sort((a, b) => {
	return (a.data.pubDate > b.data.pubDate) ? -1 : 1;
});

// Clone the array
const _sortedWebsites = [...sortedWebsites];

const pickupWebsites = [...shuffle(_sortedWebsites)].slice(0, 3);
const recentWebsites = [];
for (let i = 0; i < sortedWebsites.length; i++) {
    // Exclude the websites of pickupWebsites
    let exclude = false;
    for (let k = 0; k < pickupWebsites.length; k++) {
        if (pickupWebsites[k].slug === sortedWebsites[i].slug) {
            exclude = true;
            break;
        }
    }
    
    if (!exclude && recentWebsites.length < 12) {
        recentWebsites.push(sortedWebsites[i]);
    }
}

const title = "Security Links";
const description = "A curated list of websites for cybersecurity.";
---

<HomeLayout title={title} description={description}>
    <main class="w-full min-h-[70vh] px-2">
        <div class="my-6 w-full">
            <p class="text-base text-center">
                {title} is a curated list of websites for cybersecurity. Actually, this is just a collection of links.
            </p>
        </div>
        <div class="w-full flex items-center justify-center gap-x-2">
            <hr class="w-[60px] border-b-2 border-navy dark:border-khaki" />
            <span class="text-center font-bold">PICKUP</span>
            <hr class="w-[60px] border-b-2 border-navy dark:border-khaki" />
        </div>
        <WebsiteList websites={pickupWebsites} />
        <div class="w-full flex items-center justify-center gap-x-2">
            <hr class="w-[60px] border-b-2 border-navy dark:border-khaki" />
            <span class="text-center font-bold">LATEST</span>
            <hr class="w-[60px] border-b-2 border-navy dark:border-khaki" />
        </div>
        <WebsiteList websites={recentWebsites} />
        <div class="my-8 text-right">
            <a
                href="/websites/1"
                class="bg-navy px-4 py-2 text-base dark:bg-khaki text-khaki dark:text-navy font-bold"
            >
                MORE WEBSITES
            </a>
        </div>
	</main>
</Layout>