---
import type { CollectionEntry } from "astro:content";
import { getOneWeekAgo } from "../utils/datetime.ts";

interface Props {
    website: CollectionEntry<'websites'>;
}

const { website } = Astro.props;

const oneWeekAgo = getOneWeekAgo();
---

<div class="flex flex-col gap-y-1">
    <div class="flex items-center">
        <h4>
            <a
                href={`/websites/${website.slug}`}
                class="text-xl font-bold underline break-words"
            >
                {website.data.title}
            </a>
            {website.data.pubDate > oneWeekAgo && (
                <span
                    class="
                        ml-2
                        bg-black dark:bg-white text-white dark:text-black
                        px-1
                        text-xs
                    "
                >NEW</span>
            )}
        </h4>
    </div>
    <ul class="flex flex-wrap items-center gap-x-2">
        {website.data.tags.map((tag: string) => (
            <li>
                <a
                    href={`/tags/${tag}`}
                    class="
                        border-2 border-black dark:border-white
                        px-1
                        text-sm hover:no-underline
                    "
                >
                    {tag}
                </a>
            </li>
        ))}
    </ul>
    {website.data.description && (
        <p class="text-base line-clamp-3 break-words">
            {website.data.description}
        </p>
    )}
    <div>
        <a
            href={website.data.url}
            target="_blank"
            rel="noopener noreferrer"
            class="inline text-sm underline line-clamp-1 break-words"
        >
            {website.data.url}
        </a>
    </div>
</div>
