---
import { getCollection } from "astro:content";
import NewsletterLayout from "../../layouts/NewsletterLayout.astro";
import { getOneWeekAgo } from "../../utils/datetime.ts";

export async function getStaticPaths() {
    const newsletters = await getCollection('newsletter');
    return newsletters.map((newsletter: any) => ({
        params: { slug: newsletter.slug }, props: { newsletter },
    }));
};

const { newsletter } = Astro.props;

const id = newsletter.slug.split('-')[1];
const date = newsletter.data.pubDate;
const { Content } = await newsletter.render();

const oneWeekAgo = getOneWeekAgo();
---

<NewsletterLayout title={`Newsletter #${id}`} date={date}>
    <main class="
        md:mx-auto my-4 w-full md:w-2/3 lg:w-1/2
        bg-navy border-2 border-khaki
        p-8 flex flex-col gap-y-12 text-khaki"
    >
        <div class="w-full flex flex-col items-center gap-y-4">
            <time datetime={newsletter.data.pubDate.toISOString()}>
                {newsletter.data.pubDate.toDateString()}
            </time>
            <h2 class="text-center">
                Security Links
            </h2>
            <span
                class="bg-khaki px-4 py-2 text-navy text-2xl font-bold">
                Newsletter #{id}
            </span>
            <p class="mt-6 text-md">
                Stay up to date with the latest updates for security news, blog, research.
            </p>
        </div>
        <hr />
        <div class="newsletter-content">
            <Content />
        </div>
    </main>
</NewsletterLayout>
