---
import { getCollection } from "astro:content";
import WebsiteLayout from "../../layouts/WebsiteLayout.astro";

export async function getStaticPaths() {
    const allWebsites = await getCollection('websites');
    return allWebsites.map((website: any) => ({
        params: { slug: website.slug }, props: { website },
    }));
}

const { website } = Astro.props;
const { Content } = await website.render();
---

<WebsiteLayout website={website}>
    <main
        class="
            mx-auto my-6
            w-10/12 min-h-[70vh] md:w-3/4 flex flex-col items-center gap-y-8
        "
    >
        <div class="w-full flex flex-col items-center gap-y-4">
            <h1>{website.data.title}</h1>
            <ul class="flex flex-wrap items-center justify-center gap-x-2 gap-y-1">
                {website.data.tags.map((tag: string) => (
                    <li>
                        <a
                            href={`/tags/${tag}`}
                            class="border-2 border-black dark:border-white hover:no-underline px-1"
                        >
                            {tag}
                        </a>
                    </li>
                ))}
            </ul>
        </div>
        {website.data.description && (
            <p class="text-center">{website.data.description}</p>
        )}
        <a
            href={website.data.url}
            target="_blank"
            rel="noopener noreferrer"
            class="text-lg font-bold underline"
        >
            {website.data.url}
        </a>
        <div class="w-full flex items-center justify-center gap-x-2 text-sm">
            <span>Listed: </span>
            <time datetime={website.data.pubDate.toISOString()}>
                {website.data.pubDate.toDateString()}
            </time>
        </div>
        <div
            class="
                mt-8 w-full flex flex-col md:flex-row justify-center md:justify-end
                md:gap-x-2 gap-y-2 md:gap-y-0 text-sm
            "
        >
            <a
                href={`https://github.com/hideckies/theoffseclibrary/blob/main/src/content/websites/${website.slug}.md`}
                target="_blank"
                rel="noopener noreferrer"
                class="border-2 border-black dark:border-white p-1 text-center hover:no-underline">
                EDIT INFORMATION
            </a>
            <a
                href="https://github.com/hideckies/theoffseclibrary/issues/new"
                target="_blank"
                rel="noopener noreferrer"
                class="border-2 border-black dark:border-white p-1 text-center hover:no-underline"
            >
                REPORT THIS SITE
            </a>
        </div>
    </main>
</WebsiteLayout>