---
// import type { CollectionEntry } from 'astro:content';
import Footer from '../components/Footer.astro';
import GoogleAnalytics from '../components/GoogleAnalytics.astro';
import OGP from '../components/OGP.astro';
import Header from "../components/Header.astro";
import '@fontsource-variable/open-sans';
import "../styles/global.css";

interface Props {
    // website: CollectionEntry<'websites'>;
    title: string;
    description: string;
}

const { title, description } = Astro.props;
const pageTitle = title + " - Security Links";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <OGP title={title} description={description} />
        <GoogleAnalytics />
    </head>
    <body>
        <div>
            <div class="mx-auto w-11/12 md:w-10/12 lg:w-9/12 min-h-[90vh]">
                <Header />
                <slot />
            </div>
            <Footer />
        </div>
        <script>
            import "../scripts/hamburger.js";
            import "../scripts/links.js";
        </script>
    </body>
</html>